@keyframes movingBackground {
  0% {
    background-position: 40% 75%;

  }

  100% {
    background-position: 40% 70%;

  }
}

@keyframes movingBackgroundLinear {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

.movingBackground {
  background-position: 40% 75%;
  animation          : movingBackground 5s 0.5s ease-in-out forwards;
}


@keyframes slideRight {
  0% {
    opacity  : 0;
    transform: translateX(100%);
  }


  50% {
    opacity: 0;
  }

  100% {
    opacity  : 1;
    transform: translateX(0%);

  }
}


@keyframes slideRightWithLetterSpacing {
  0% {
    opacity          : 0;
    // transform     : translateX(150%);
    letter-spacing   : 10rem;
  }

  55% {
    opacity: 1;
  }


  100% {
    // transform     : translateX(0%);
    letter-spacing   : .5rem;

  }
}
