<mat-card class="product" [ngClass]="{ premium: product.isPremium }">
  <img class="image" [src]="product.image" [alt]="product.title" />
  <div class="product__title">
    <span class="premium" *ngIf="product.isPremium">
      <img src="../../../../assets/icons/premium.svg" alt="Premium" />
    </span>
    <span class="title">{{ product.title }}</span>
  </div>
  <ul class="product__data">
    <li class="product__data-item" *ngFor="let package of product.packages">
      {{ package }}
    </li>
  </ul>
  <div class="product-button">
    <a mat-raised-button (click)="onChooseProduct()">
      <mat-icon class="mat-18">check</mat-icon>
      <span class="text">שאל אותי לגבי זה</span>
    </a>
  </div>
</mat-card>
