.about-us-container {
  position  : relative;
  height    : 100vh;
  width     : 100%;
  // background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(160, 121, 171, 0) 50%),
  //   url("src/assets/images/products.jpg");
  // background-attachment: fixed;

}

