.about-us-container {
  position: relative;
  height  : 100vh;
  width   : 100%;
  @include flex-center;



  .about-section {
    margin: 0 1.5rem;

    img {
      width: 40rem;
    }

    p {
      color      : $color-primary;
      font-weight: bold;
      font-size  : 2.6rem;
      max-width  : 40rem;
      text-align : center;
      @extend .effect-underline;
    }
  }

  .master-plan p {
    transform: translateY(3rem)
  }

  .success p {
    transform: translateY(5rem)
  }

  .photo-shot p {
    transform: translateY(-5rem)
  }



}

@media (max-width: 550px) {
  .about-us-container {
    flex-direction : column;
    justify-content: space-around;

    .about-section {
      display        : flex;
      flex-direction : row;
      flex-wrap      : nowrap;
      justify-content: center;
      align-items    : center;
      align-content  : center;
      width          : 100%;
      padding        : 1rem;

      p {
        transform: none;
        font-size: 2rem;
      }

      img {
        width : 15rem;
        margin: auto;
      }
    }


  }
}

.effect-shine {
  text-decoration: none;
}

.effect-underline:after {
  content           : '';
  position          : absolute;
  left              : 0;
  display           : inline-block;
  height            : 1em;
  width             : 100%;
  border-bottom     : 1px solid;
  margin-top        : 10px;
  opacity           : 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition        : opacity 0.35s, transform 0.35s;
  -webkit-transform : scale(0, 1);
  transform         : scale(0, 1);
}


.effect-underline:hover:after {
  opacity          : 1;
  -webkit-transform: scale(1);
  transform        : scale(1);
}
