.contact-us-container {
  height: 100vh;
  width: 100%;
  background: #fff;

  background-repeat: no-repeat;
  @include flex-center;
  transition: all 0.3s linear;

  .contact-us-card {
    position: relative;
    width: 70%;
    height: 60%;
    background: #f8f8f8;
    border-radius: 4rem;
    overflow: hidden;
    transition: all 0.3s linear;
    display: flex;

    .form {
      height: 100%;
      width: 100%;
      background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    }

    .social-media {
      position: relative;
      height: 100%;
      width: 0%;
      @include flex-center;
      flex-direction: column;
      transition: all 0.3s ease-in-out;

      .content {
        opacity: 0;
        transition: all 0.3s linear;
      }
    }

    &:hover {
      .social-media {
        .content {
          opacity: 1;
        }
        width: 30%;
      }
    }
  }
}
