.contact-us-container {
  height: 100vh;
  width : 100%;
  background: linear-gradient(to right top,
      rgba(darken($color-accent, 15), .98),
      rgba($color-primary, .98)),
    url('src/assets/images/contact-us.jpg');
  background-attachment: fixed;
  background-position  : center;
  @include flex-center;
  transition: all .3s linear;



  .contact-us-card {
    position     : relative;
    box-shadow   : 0px 0px 33px -11px rgba(0, 0, 0, 0.67);
    width        : 70%;
    height       : 60%;
    background   : transparent;
    border-radius: 2rem;
    overflow     : hidden;
    transition   : all .3s linear;
    display      : flex;

    .form {
      height    : 100%;
      width     : 70%;
      background: white;
    }

    .social-media {
      // position: absolute;
      // top     : 0;
      // right   : 0;
      height     : 100%;
      width      : 30%;
      @include flex-center;
      flex-direction: column;
    }



    // &::before {
    //   content         : "";
    //   position        : absolute;
    //   top             : 0;
    //   left            : 0;
    //   height          : 100%;
    //   width           : 30%;
    //   transform       : scaleX(0);
    //   transform-origin: left center;
    //   background-image: linear-gradient(to right top,
    //       rgba($color-accent, .5),
    //       rgba($color-primary, .5)), url('src/assets/images/contact-us.jpg');
    //   background-repeat  : no-repeat;
    //   background-size    : 100% 100%;
    //   background-position: center;
    //   transition         : all .3s linear;

    // }


    &:hover {
      box-shadow: 0px 0px 43px -11px rgba(0, 0, 0, 0.77);


    }



  }

  // &:hover .contact-us-card::before {
  //   transform: scaleX(1);
  // }

}
