.form {
  display       : flex;
  flex-direction: column;
  width         : 100%;
  height        : 100%;
  padding       : 2rem;


  .submit {
    padding      : 1rem 0;
    background   : $color-accent;
    color        : #f3f3f3;
    transition   : all .3s linear;
    box-shadow   : 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.13);

    &:disabled {
      box-shadow: none;
      background: rgba($color-primary, .5);
    }
  }
}
