<div class="contact-us-container" #section>
  <ng-container>
    <div
      class="contact-us-card"
      [@bigCard]="show && !(mobileService.isHandset$ | async)"
    >
      <ng-container>
        <app-contact-us-form></app-contact-us-form>
        <div class="contact-us-buttons">
          <a
            class="contact-us-button"
            *ngFor="let cuButton of contactUsButtons"
            [id]="cuButton.icon"
            [href]="cuButton.url"
          >
            <div class="title">
              <ng-container
                *ngIf="cuButton.icon !== 'whatsapp'; else whatsAppRef"
              >
                <mat-icon class="mat-18">{{ cuButton.icon }}</mat-icon>
              </ng-container>
              <ng-template #whatsAppRef>
                <img
                  src="../../../assets/icons/whatsapp.svg"
                  [alt]="cuButton.title"
                />
              </ng-template>
              <span>{{ cuButton.title }}</span>
            </div>
            <ng-container
              *ngIf="!(mobileService.isHandset$ | async); else mobileRef"
            >
              <p>{{ cuButton.text }}</p>
            </ng-container>
            <ng-template #mobileRef>
              <p>{{ cuButton.mobileText }}</p>
            </ng-template>
          </a>
        </div>
      </ng-container>
    </div>
    <div
      class="abstract"
      [@abstract]="show && !(mobileService.isHandset$ | async)"
    >
      <div class="icon-container">
        <mat-icon class="mat-18">photo_camera</mat-icon>
      </div>
    </div>
    <div
      class="social-media"
      [@socialMedia]="show && !(mobileService.isHandset$ | async)"
    >
      <img
        *ngIf="!(mobileService.isHandset$ | async)"
        src="../../../assets/images/contact-us-svg.svg"
        alt="contact-us"
      />
    </div>
  </ng-container>
  <div class="credit">
    <span class="title"
      >Build with
      <a href="https://tzachbonfilportfolio.web.app/">Tzach Bonfil</a>
      ©</span
    >
  </div>
</div>
