<div class="contact-us-container" #section>
  <ng-container>
    <div class="contact-us-card" [@bigCard]="show">
      <!-- <div class="form"></div>
          <div class="social-media">
            <div class="content">
              <app-social-media-button *ngFor="let socialMediaButton of socialMediaButtons" [socialMedia]="socialMediaButton">
              </app-social-media-button>
            </div>
          </div> -->
    </div>
    <div class="abstract" [@abstract]="show"></div>
    <div class="social-media" [@socialMedia]="show">
      <img src="../../../assets/images/contact-us-svg.svg" alt="contact-us" />
    </div>
  </ng-container>
</div>
