@import "./../import";

.land-container {
  width : 100%;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba($color-primary, 0.7), rgba($color-accent, 0.4)),
    url("src/assets/images/land.jpeg");
  // clip-path            : polygon(0 12%, 100% 12%, 100% 88%, 0 88%);
  position                : relative;
  transition              : all 1s ease-in-out;
  z-index                 : 0;
  background-attachment   : fixed;
  background-repeat       : no-repeat;
  background-size         : cover;
  @extend .movingBackground;
}

.sub-logo {
  position      : absolute;
  left          : 10%;
  bottom        : 5%;
  display       : flex;
  flex-direction: column;
  align-items   : flex-start;
  font-size     : 10rem;
  color         : #fff;

  .first,
  .second {
    opacity  : 0;
    font-size: 10rem;
    animation: slideLeft 3s ease-out forwards;
  }

  .first {
    animation-delay: 0.25s;
  }

  .second {
    animation-delay: 1.25s;
  }
}

.land-title-text {
  color     : #fff;
  position  : absolute;
  top       : 5%;
  left      : 10%;
  z-index   : 2;
  text-align: center;

  .title {
    @include flex-center;
    position   : relative;
    margin     : 1rem 0;
    font-family: "Montserrat", sans-serif;
    animation  : slideRightWithLetterSpacing 2s ease-out forwards;
    color      : #fff;

    &__text {
      font-family: "Montserrat", sans-serif;
      font-size  : 3rem;
      animation  : movingBackgroundLinear 1s ease infinite;
    }

    .mat-18 {
      font-size: 2.5rem;
    }
  }

  .feature-box-container {
    @include flex-center;
    flex-wrap: wrap;
  }

  // .paragraph {
  //   transform  : translateX(120%);
  //   animation  : slideRight 1s 2s ease-out forwards;
  //   direction  : rtl;
  //   line-height: 3.3rem;
  // }
}

@media (max-width: 550px) {
  .land-container {
    background-size: 180% 130%;

    .sub-logo {

      .first,
      .second {

        font-size: 5rem;
      }
    }
  }
}
