<!-- <app-navbar> -->
<app-navbar></app-navbar>
<div mnFullpage>
  <div class=" fp-section fp-table">
    <div class="fp-tableCell">
      <app-land></app-land>
    </div>
  </div>
  <div class=" fp-section fp-table">
    <div class="fp-tableCell">
      <app-about-us></app-about-us>
    </div>
  </div>
  <div class=" fp-section fp-table">
    <div class="fp-tableCell">
      <app-products></app-products>
    </div>
  </div>
  <div class=" fp-section fp-table">
    <div class="fp-tableCell">
      <app-contact-us></app-contact-us>
    </div>
  </div>
</div>
<!-- </app-navbar> -->
